body {
   
    position: relative;
    overflow-x: hidden;
    
  }
#HeaderPropert{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.contactAboutPrice{
    display: flex;
    justify-content: space-around;
    gap: 20px;  
}
.contactAboutPrice > a {
    text-decoration: none;
    color: hsl(233, 12%, 13%);
}
.contactAboutPrice > a:hover{
    color: hsl(227, 12%, 61%);
}
.btn1{
    border-radius: 50px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-style: none;
    padding: 10px;
}
.btn1:hover{
cursor: pointer;
background-color: pink ;
}